.forside
{
	.forside-hero
	{
		width: 100%;

		padding-bottom: 40px;

		background: #7d5c84;

	  	background-image: url('../images/pattern.png');
		background-position: 0 100%;
		background-repeat: repeat-x;
		background-size: 25px;

		.forside-hero-content {
			height: 100%;

			.forside-hero-content-image
			{
				float: left;

				height: 150px;
				width: 150px;

				border-radius: 75px;

				background-position: 50% 50%;
				background-size: auto 100%;

				background-image: url('../images/caecilie.jpg');
			}

			.forside-hero-content-text {
				float: left;

				margin-left: 30px;
				margin-top: 10px;

				h1 {
					font-size: 50px;
					font-weight: normal;

					margin-bottom: 0px;

					color: #fff;
				}

				h4 {
					margin-left: 4px;
					margin-top: 0px;

					color: #fff;
				}

			}

		}




	}

	.forside-fields
	{
		.forside-fields-field
		{
			img.forside-fields-field-icon
			{
				width: 30%;
				margin: auto;
				margin-bottom: 5px;
			}

			.forside-fields-field-name
			{
				color: #7d5c84;
			}

			p {
				font-size: 15px;
				font-weight: 300;
			}

		}
	}



}
