<section class="forside">

	<div class="forside-hero container">

		<div class="row">

			<div class="column small-12 medium-8 medium-offset-2 forside-hero-content">
				<p style="margin-bottom: 0.5em;">&nbsp;</p>

				<div class="forside-hero-content-image"></div>

				<div class="forside-hero-content-text">
					<h1>Cæcilie Norby</h1>
					<h4>Autoriseret Psykolog</h4>

				</div>


			</div>



		</div>
	</div>

	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<div class="container">
		<div class="row forside-fields">

			<div class="small-6 large-3 columns kompetencer" ng-repeat="kompetence in kompetencer" ng-if="selectedKompetence === null">
				<div style="max-width: 250px; margin: auto;" class="forside-fields-field text-center animate-opacity {{ kompetence.animateNow ? 'animate-opacity-enter' : '' }}">
					<img class="forside-fields-field-icon" src="images/{{ kompetence.ikon }}.svg" />
					<h4 style="margin-bottom: 20px;" class="forside-fields-field-name">{{ kompetence.navn }}</h4>
					<p>{{ kompetence.beskrivelse }}</p>

					<a href ng-click="kompetenceClicked(kompetence)">Læs mere...</a>
				</div>

				<p>&nbsp;</p>
			</div>

			<div class="small-12 medium-8 medium-offset-2 columns text-center kompetencer" ng-if="selectedKompetence !== null">
				<p class="text-left">
					<a href ng-click="kompetenceClicked(null)">Tilbage</a>
				</p>

				<img class="forside-fields-field-icon" src="images/{{ selectedKompetence.ikon }}.svg" style="width: 150px;"/>
				<h3 style="margin-bottom: 20px;" class="forside-fields-field-name">{{ selectedKompetence.navn }}</h3>
				<p style="font-weight: 300;" class="text-left">{{ selectedKompetence.langBeskrivelse }}</p>


			</div>

		</div>
	</div>

	<p>&nbsp;</p>
	<p>&nbsp;</p>


	<div class="container" style="width: 100%; background: #f3f3f3; padding-top: 20px; height: 173px;">
		<div class="row">

			<div class="small-12 columns text-center">

				<hr style="border: solid 1px #C2BCBC;"/>

				<h3 style="position: relative;display: inline-block;background: #f3f3f3;top: -42px;padding-left: 20px;padding-right: 20px;">Er du i tvivl eller har spørgsmål?</h3>
				<p>&nbsp;</p>
				<a href="#/kontakt" class="button large secondary" style="top: -67px; background-color: #7d5c84; color: #fff;">Kontakt mig</a>

			</div>

		</div>


	</div>

</section>
