
<section class="kontakt">


	<div class="container">
		<p>&nbsp;

		<div class="row">
			<div class="small-12 column">


				<h2 class="text-center">Kontakt klinikken</h2>



			</div>



		</div>

		<p>&nbsp;</p>

		<div class="row">
			<div class="medium-6 column">
				<p>Har du spørgsmål eller er der noget du gerne vil have uddybet? Brug formularen nedenfor, så vender jeg tilbage til dig så snart jeg kan.</p>
				<form id="kontaktForm">
					<label>Din e-mail adresse:

						<input type="text">
					</label>

					<label>Hvad vil du gerne vide?

						<textarea style="height: 300px;"></textarea>
					</label>

					<input type="submit" value="Send" style="background-color: #7d5c84" class="button right">
				</form>

			</div>

			<div class="medium-6 column">

				<h4 style="margin: 0px;">Cæcilie Norby</h4>
				<em>Autoriseret Psykolog</em>
				<br />
				Mazantigade 7
				<br />
				6000 Kolding
				<br />
				Tlf. 12121212
				<br />
				<a href="mailto: kontakt@norbypsyk.dk">kontakt@norbypsyk.dk</a>

				<p>&nbsp;</p>

				<iframe style="width: 100%; height: 300px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Mazantigade%207%2C%20Kolding%2C%20Danmark&key=AIzaSyBJmJRU0KJ_Ct2ZWst1hJq3tPoMiPHIzjo"></iframe>


			</div>



		</div>



	</div>



</section>
