
<section class="priser">
	
	<p>&nbsp;</p>

	<div class="container">
		

		<div class="row">
			<div class="small-12 column text-center">
				<h2>Priser</h2>
				
				
				<p><em>Afbud eller ændring af tid bedes meddelt i god tid og senest dagen før kl 16.00. Dette kan ske via mail eller telefon. Ved for sent afbud eller udeblivelse opkræves fuld takst.</em></p>
				
				<p>&nbsp;</p>
				
				<div ng-repeat="ydelse in ydelser"> 
					
					<span>{{ ydelse.navn }}</span>
					<h5 style="margin-top: 0px">{{ ydelse.pris }}</h5>
				
					<p>&nbsp;</p>	
				</div>
				
				<p>&nbsp;</p>
				
				<div class="text-center">
					<em> Normalt betales via MobilePay kontant inden samtalen begyndes</em>
					<br />
					<br />
					<img src="images/MobilePay_Logo.png" style="width: 70px; margin-bottom: 10px;" />
					<h4>42 83 47 67</h4>
				</div>			

			</div>
		</div>
	</div>

	
	
		


<!--
Betalingsmetode:.

Priser:
Individuel terapi med børn, unge eller voksne 950,- kr
Supervision med forældre/plejeforældre: 1500 kr
Supervision med større grupper: Pris efter aftale
Undersøgelser: pris aftales i henhold til den enkelte opgaves art.

Afbud eller ændring af tid bedes meddelt i god tid og senest dagen før kl 16.00. Dette kan ske via mail eller telefon. Ved for sent afbud eller udeblivelse opkræves fuld takst.
-->




</section>
